<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
   
    <%- include("./partials/nav") %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat culpa adipisci impedit magnam, iure, voluptatum voluptatibus explicabo esse, libero similique quisquam. Cumque repellat ipsam incidunt fuga illum accusantium doloremque minus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat culpa adipisci impedit magnam, iure, voluptatum voluptatibus explicabo esse, libero similique quisquam. Cumque repellat ipsam incidunt fuga illum accusantium doloremque minus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat culpa adipisci impedit magnam, iure, voluptatum voluptatibus explicabo esse, libero similique quisquam. Cumque repellat ipsam incidunt fuga illum accusantium doloremque minus!</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>